@media screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background-image: url(Assets/Fundo\ Login.png);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }

    .login h1 {
        position: fixed;
        bottom: 250px;
        width: 250px;
    }

    .login p {
        position: fixed;
        bottom: 200px;
        width: 250px;
        font-weight: 200;
        color: gray;
    }

    .login input {
        position: fixed;
        bottom: 110px;
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        border-radius: 50px;
        padding: 8px 0px;
        border: none;
    }

    .login #logar {
        width: 100%;
        padding: 10px 0px;
        font-size: 20px;
        font-weight: 600;
        border-radius: 50px;
        border: none;
        background-color: #8c2eff;
        color: white;
        position: fixed;
        bottom: 60px;
        transition: .3s;
    }

    .login #logar:hover {
        background-color: #471485;
    }

    .login #contato {
        position: fixed;
        bottom: 30px;
        border: none;
        background: transparent;
        color: #8c2eff;
        width: 100%;
        text-align: center;
        font-weight: 600;
    }

}