@media screen and (max-width: 600px) {
   * {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
   } 

   body {
    background-image: url("Assets/Fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
   }

   /*Titulo*/
   .title {
    padding: 50px;
    width: 230px;
    color: white;
    font-size: 20px;
   }

   .title #user {
    color: #642eff;
   }

   /*Escolher Treino*/
   .escolher {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 200px;
    gap: 10px;
   }

   .escolher button img {
    width: 40px;
   }

   .escolher button {
    border: none;
   }

   .escolher #left, #right {
    background: transparent;
   }

   .escolher .treinos {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    width: 250px;
    gap: 20px;
    align-items: center;
    scroll-behavior: smooth;
   }

   .escolher .treinos button {
    padding: 10px 65px;
    font-size: 30px;
    border-radius: 20px;
    background-color: #642eff;
    color: white;
    font-weight: 600;
    white-space: nowrap;
    
   }

   /*Navbar*/
   .navbar {
    position: fixed;
    bottom: 1px;
    justify-self: center;
    background-color: rgba(77, 77, 77, 0.182);
    backdrop-filter: blur(20px);
    padding: 8px 20px;
    border-radius: 30px;
    margin-bottom: 10px;
   }

   .navbar div {
    display: flex;
    gap: 40px;
   }

   .navbar div button {
    background: transparent;
    border: none;
   }

   .navbar div button img {
    width: 35px;
   }
}