@media screen and (max-width: 600px) {
    
    * {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        padding: 10px;
        background-color: rgb(206, 206, 206);
    }

    /*Cabecario*/
    .cabecario {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 50px;
        color: rgb(0, 0, 0);
        padding: 5px;
        border-radius: 20px;
        background-color: white;
    }

    .cabecario #user {font-size: 25px; color: #0051ff;}

    .cabecario p {
        font-size: 14px;
        font-weight: 200;
    }

    #foto {
        width: 60px;
        height: 60px;
        border-radius: 100%;
    }

    /*Lista*/

    .Lista {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        gap: 20px;
        margin-bottom: 50px;
    }

    .TreinoA, .TreinoB, .TreinoC, .TreinoD, .TreinoE {
        flex: 0 0 370px;
        width: 370px;
        height: 260px;
        background-color: white;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .TreinoA #fundo, .TreinoB #fundo, .TreinoC #fundo, .TreinoD #fundo, .TreinoE #fundo {
        width: 100%;
        height: 200px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        align-self: center;
    }

    .TreinoA div, .TreinoB div, .TreinoC div, .TreinoD div, .TreinoE div{
        padding: 8px;
        align-items: center;
        justify-content: center;
        gap: 150px;
        display: flex;
    }

    .TreinoA button, .TreinoB button, .TreinoC button, .TreinoD button, .TreinoE button{

        padding: 7px 14px;
        font-size: 18px;
        border-radius: 10px;
        font-weight: 600;
        border: none;
        color: rgb(255, 255, 255);
        background-color: #0051ff;
        transition: .3s;
    }

    .TreinoA button:hover, .TreinoB button:hover, .TreinoC button:hover, .TreinoD button:hover, .TreinoE button:hover{
        background-color: #5a8eff;
    }

    /*Diversos*/

    .diversos {
        justify-items: center;
        align-items: center;
        color: rgb(0, 0, 0);
    }

    .diversos div {

        margin-top: 20px;
        align-items: center;
        display: flex;
        gap: 30px;
    }

    .diversos div button{
        align-items: center;
        background-color: #ffffff;
        border: none;
        color: #000000;
        border-radius: 10px;
        width: 80px;
        height: 55px;
        border-bottom: 3px solid #0051ff;
        transition: .3s;
    }

    .diversos div button img {
        width: 30px;
    }

    .diversos div button:hover{
        background-color: #0051ff;
    }
}